.3d-form
data/external/*
!data/external/Bear.stl
data/raw/*
data/processed/Thingi10k/voxels/*
notebooks/_output/*
notebooks/MNIST_data
src/logs
__pycache__
*.sublime-project
*.sublime-workspace
*.ipynb_checkpoints
notebooks/cynthia/*
# ignore until ready to share
models/stl_rnn
models/stl_vae
models/voxel_vae
# data for tf tutorial of style transfer
notebooks/vgg16/*

